.classic background {
    color: white;
}

.classic h1 {
    /* Heading */
    font-size: 5em;
}

.classic p {
    /* Paragraph text */
    font-size: 1em;
    color: black;
}

.classic img {
    width: 50%;
}